.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 64px;
}

@media screen and (max-width: 1050px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 550px) {
  .lead__subtitle {
    max-width: 500px;
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 450px) {
  .lead__subtitle {
    max-width: 400px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 400px) {
  .lead__subtitle {
    max-width: 288px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
