.cover {
  max-width: 1184px;
  margin: 92px auto 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
  .cover {
    
  }
}

@media screen and (max-width: 800px) {
  .cover {

  }
}


@media screen and (max-width: 420px) {
  .cover {

  }
}
