.place__link {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  transition: opacity .2s linear;
}

.place__link:hover {
  opacity: .5;
}

@media screen and (max-width: 500px) {
  .place__link {
    margin: 0 16px;
  }
}
