.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 48px;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width:1050px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width:800px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
    margin: 0 24px;
  }
}

@media screen and (max-width:730px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
    max-width: 186px;
    margin: 0 16px;
    align-items: start;
  }
}
